@import "../../modules/shared/scss/paleta.scss";

* {
  box-sizing: border-box;
}

.homeContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 2px;
  background-color: $color-primary-800;

  &_header {
    background-color: $color-primary-600;
    flex: 3;
    display: flex;

    div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        color: $color-primary-100;
        text-align: center;
      }

      p {
        font-size: 18px;
      }
    }
  }

  &_dados {
    display: flex;
    gap: 2px;
    flex: 17;

    &_menu {
      background-color: $color-primary-500;
      display: flex;
      flex-direction: column;
      padding: 2%;
      gap: 10px;

      button {
        background-color: $color-info-100;
        width: 100%;
        height: 50px;

        &:hover {
          color: #999;
          transition: all 0.2s;
        }
      }
    }

    &_conteudo {
      flex: 1;
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 899px) {
  .nomeApp {
    font-weight: 800;
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 900px) and (max-width: 999px) {
  .nomeApp {
    font-weight: 800;
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 3000px) {
  .nomeApp {
    font-weight: 800;
    font-size: 2.4rem;
  }
}
