@import "../../../shared/paleta.scss";

* {
  box-sizing: border-box;
}

:host {
  height: 100%;
  background-color: $color-primary-800;
  display: flex;

  .externoContainer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    gap: 2%;

    &_header {
      flex: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-direction: column;

      .indicadorFiltros {
        color: #fff;
        font-size: 1rem;
      }

      &_filtros {
        width: 100%;
        height: 100%;
        flex: 3;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        form {
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 10px;

          select {
            flex: 1;
            height: 50%;
            font-size: 1rem;
          }

          input {
            flex: 1;
            height: 50%;
            font-size: 1rem;
            text-align: center;
          }

          button {
            flex: 1;
            background-color: $color-success-500;
            color: #fff;
            margin: 0;
            padding: 0;
            height: 50%;
          }
        }
      }

      &_paginacao {
        width: 100%;
        height: 100%;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 10px;

        .indicadorPagina {
          font-size: 1rem;
          color: #fff;
        }
      }
    }

    &_content {
      flex: 17;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 2%;

      &_data {
        width: 100%;
        flex: 6;
        max-height: 400px;
        align-items: flex-start;
        justify-content: center;
        display: flex;
        overflow-y: auto;

        table {
          width: 100%;

          thead {
            th {
              color: #fff;
              padding: 0;
              text-align: center;
              vertical-align: middle;
              border-bottom: 1px solid #fff;
            }
          }

          tbody {
            tr {
              td {
                color: #fff;
                padding: 0;
                text-align: center;
                vertical-align: middle;
                border-bottom: 1px solid #fff;

                .editLink {
                  color: $color-warning-500;
                }

                .deleteLink {
                  color: $color-danger-500;
                }
              }

              &:hover {
                background-color: $color-info-800;
              }
            }
          }
        }
      }

      &_page {
        width: 100%;
        height: 100%;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        gap: 10px;
        padding-left: 10%;
        padding-right: 10%;

        input {
          width: 100px;
          height: 50px;
          text-align: center;
          font-size: 1rem;
        }

        button {
          background-color: $color-success-500;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          color: #fff;
          cursor: pointer;

          &:disabled {
            background-color: $color-warning-500;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
