<div class="externoContainer">
  <header class="externoContainer_header">
    <span class="indicadorFiltros">Filtrar documentos externos por </span>
    <div class="externoContainer_header_filtros">
      <form [formGroup]="formGrp" (ngSubmit)="search()">
        <select [formControl]="$any(formGrp.controls.filtro)">
          <option *ngFor="let opcao of opcoesFiltro" value="{{ opcao.valor }}">
            {{ opcao.valorVisualizado }}
          </option>
        </select>
        <input type="text" [formControl]="$any(formGrp.controls.resposta)" />
        <button type="submit" mat-raised-button class="btnInput">
          <mat-icon> search </mat-icon>
        </button>
      </form>
    </div>
    <div class="externoContainer_header_paginacao">
      <span>Itens por página</span>
      <select
        class="indicadorPagina"
        [formControl]="$any(formGrp.controls.paginacao)"
        (change)="changePagination(formGrp.controls.paginacao.value)"
      >
        <option
          *ngFor="let paginacao of opcoesPaginacao"
          value="{{ paginacao }}"
        >
          {{ paginacao }}
        </option>
      </select>
    </div>
  </header>
  <main class="externoContainer_content">
    <div class="externoContainer_content_data">
      <table>
        <thead>
          <tr>
            <th>Nr Protocolo</th>
            <th>Assunto</th>
            <th>Especificação</th>
            <th>Data: <br />Documento<br />Recebimento</th>
            <th>Procedência</th>
            <th>Destino</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registro of registros">
            <td>{{ registro.nrProtocolo }}</td>
            <td>{{ registro.assunto }}</td>
            <td>{{ registro.especificacao }}</td>
            <td>
              {{ registro.dataDocumento }}<br />{{ registro.dataRecebimento }}
            </td>
            <td>{{ registro.procedencia }}</td>
            <td>
              Destino1:{{ registro.destino1 }}<br />Destino2:
              {{ registro.destino2 }}<br />Destino3: {{ registro.destino3 }}
            </td>
            <td>
              <a class="editLink" (click)="editarDocumento(registro)"
                ><span class="material-icons">mode_edit</span></a
              >
              <a (click)="excluirDocumento(registro)" class="deleteLink"
                ><span class="material-icons">delete_forever</span></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="externoContainer_content_page">
      <div class="externoContainer_content_page_options">
        <button (click)="adicionarDocumento()">
          <span class="material-icons">note_add</span>
        </button>
      </div>
      <div class="externoContainer_content_page_controls">
        <button
          [disabled]="
            formGrp.controls.numeroPagina.value === 1 ||
            this.numeroRegistros === 0
          "
          (click)="goToPage('primeira')"
        >
          <span class="material-icons">fast_rewind</span>
        </button>
        <button
          [disabled]="
            formGrp.controls.numeroPagina.value === 1 ||
            this.numeroRegistros === 0
          "
          (click)="goToPage('anterior')"
        >
          <span class="material-icons">skip_previous</span>
        </button>
        <input
          type="text"
          min="1"
          max="{{ this.numeroPaginas }}"
          [formControl]="$any(formGrp.controls.numeroPagina)"
          readonly
        />
        <button
          [disabled]="
            this.formGrp.controls.numeroPagina.value === this.numeroPaginas ||
            this.numeroRegistros === 0
          "
          (click)="goToPage('proxima')"
        >
          <span class="material-icons">skip_next</span>
        </button>
        <button
          [disabled]="
            this.formGrp.controls.numeroPagina.value === this.numeroPaginas ||
            this.numeroRegistros === 0
          "
          (click)="goToPage('ultima')"
        >
          <span class="material-icons">fast_forward</span>
        </button>
      </div>
    </div>
  </main>
</div>
