@import "../../../shared/paleta.scss";

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-700;

  &_card {
    border-radius: 15px;
    border: 5px solid $color-primary-500;

    &_conteudo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .formLogin {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 100%;

        .btnInput {
          background-color: $color-success-500;
          transition: all 0.2s;
          cursor: pointer;
          width: 100%;
          color: #fff;

          &:disabled {
            background-color: $color-success-200;
            cursor: progress;
            color: #000;
          }
        }
      }
    }
  }
}
