<div class="formContainer">
  <mat-card class="formContainer_card">
    <mat-card-content class="formContainer_card_conteudo">
      <form [formGroup]="formGrp" class="formLogin" (ngSubmit)="login()">
        <img
          src="../../../../../assets/user.png"
          alt="avatar"
          mat-card-avatar
        />

        <app-input
          [label]="'Login'"
          [requires]="true"
          [tipo]="'text'"
          [ctrl]="formGrp.controls.userName"
        ></app-input>

        <app-input
          [label]="'Senha'"
          [requires]="true"
          [tipo]="'password'"
          [ctrl]="formGrp.controls.password"
        ></app-input>

        <button
          type="submit"
          mat-raised-button
          class="btnInput"
          [disabled]="formGrp.invalid || formGrp.pending"
        >
          <span class="material-icons">login</span>Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
