@import "../shared/estiloDosComponentes.scss";

#loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ddd;

  &_apresentacao {
    width: 50%;
    height: 100%;
  }

  &_form {
    width: 50%;
    height: 100%;
  }
}
