$color-primary-100: #d6e1f6;
$color-primary-200: #b0c3ed;
$color-primary-300: #7c92ca;
$color-primary-400: #4e6096;
$color-primary-500: #1d2951;
$color-primary-600: #151f45;
$color-primary-700: #0e163a;
$color-primary-800: #090f2e;
$color-primary-900: #050a26;
$color-primary-transparent-100: rgba(29, 41, 81, 0.08);
$color-primary-transparent-200: rgba(29, 41, 81, 0.16);
$color-primary-transparent-300: rgba(29, 41, 81, 0.24);
$color-primary-transparent-400: rgba(29, 41, 81, 0.32);
$color-primary-transparent-500: rgba(29, 41, 81, 0.4);
$color-primary-transparent-600: rgba(29, 41, 81, 0.48);
$color-success-100: #daf9d2;
$color-success-200: #b0f4a8;
$color-success-300: #79e076;
$color-success-400: #4fc158;
$color-success-500: #219935;
$color-success-600: #188334;
$color-success-700: #106e31;
$color-success-800: #0a582d;
$color-success-900: #06492a;
$color-success-transparent-100: rgba(33, 153, 53, 0.08);
$color-success-transparent-200: rgba(33, 153, 53, 0.16);
$color-success-transparent-300: rgba(33, 153, 53, 0.24);
$color-success-transparent-400: rgba(33, 153, 53, 0.32);
$color-success-transparent-500: rgba(33, 153, 53, 0.4);
$color-success-transparent-600: rgba(33, 153, 53, 0.48);
$color-info-100: #c7f9ea;
$color-info-200: #91f3df;
$color-info-300: #57dbcc;
$color-info-400: #2eb8b3;
$color-info-500: #008289;
$color-info-600: #006575;
$color-info-700: #004d62;
$color-info-800: #00374f;
$color-info-900: #002841;
$color-info-transparent-100: rgba(0, 130, 137, 0.08);
$color-info-transparent-200: rgba(0, 130, 137, 0.16);
$color-info-transparent-300: rgba(0, 130, 137, 0.24);
$color-info-transparent-400: rgba(0, 130, 137, 0.32);
$color-info-transparent-500: rgba(0, 130, 137, 0.4);
$color-info-transparent-600: rgba(0, 130, 137, 0.48);
$color-warning-100: #fbf8ca;
$color-warning-200: #f8f096;
$color-warning-300: #eade60;
$color-warning-400: #d6c638;
$color-warning-500: #bca703;
$color-warning-600: #a18d02;
$color-warning-700: #877401;
$color-warning-800: #6d5c00;
$color-warning-900: #5a4b00;
$color-warning-transparent-100: rgba(188, 167, 3, 0.08);
$color-warning-transparent-200: rgba(188, 167, 3, 0.16);
$color-warning-transparent-300: rgba(188, 167, 3, 0.24);
$color-warning-transparent-400: rgba(188, 167, 3, 0.32);
$color-warning-transparent-500: rgba(188, 167, 3, 0.4);
$color-warning-transparent-600: rgba(188, 167, 3, 0.48);
$color-danger-100: #fae2cb;
$color-danger-200: #f5c09a;
$color-danger-300: #e18f63;
$color-danger-400: #c4603b;
$color-danger-500: #9e280b;
$color-danger-600: #871708;
$color-danger-700: #710a05;
$color-danger-800: #5b0305;
$color-danger-900: #4b0209;
$color-danger-transparent-100: rgba(158, 40, 11, 0.08);
$color-danger-transparent-200: rgba(158, 40, 11, 0.16);
$color-danger-transparent-300: rgba(158, 40, 11, 0.24);
$color-danger-transparent-400: rgba(158, 40, 11, 0.32);
$color-danger-transparent-500: rgba(158, 40, 11, 0.4);
$color-danger-transparent-600: rgba(158, 40, 11, 0.48);
