<div class="registrarContainer">
  <form [formGroup]="formGrp" class="registrarContainer_formRegistro">
    <h1>Cadastro de Documento</h1>
    <fieldset>
      <legend>Dados Principais</legend>
      <div>
        <span class="material-icons">content_paste</span>
        <input
          type="text"
          placeholder="Número Protocolo"
          [formControl]="$any(formGrp.controls.NrProtocolo)"
          maxlength="20"
        />
      </div>
      <div>
        <span class="material-icons">subject</span>
        <input
          type="text"
          placeholder="Assunto"
          [formControl]="$any(formGrp.controls.Assunto)"
          maxlength="100"
        />
      </div>
    </fieldset>
    <fieldset>
      <legend>Detalhes Documentação</legend>
      <div>
        <span class="material-icons">grading</span
        ><input
          type="text"
          placeholder="Especificação"
          [formControl]="$any(formGrp.controls.Especificacao)"
          maxlength="200"
        />
      </div>
      <div>
        <span class="material-icons">calendar_today</span
        ><input
          type="text"
          placeholder="Data Documento"
          [formControl]="$any(formGrp.controls.DataDocumento)"
          maxlength="20"
        />
      </div>
      <div>
        <span class="material-icons">date_range</span
        ><input
          type="text"
          placeholder="Data Recebimento"
          [formControl]="$any(formGrp.controls.DataRecebimento)"
          maxlength="20"
        />
      </div>
      <div>
        <span class="material-icons">forward_to_inbox</span
        ><input
          type="text"
          placeholder="Procedência"
          [formControl]="$any(formGrp.controls.Procedencia)"
          maxlength="100"
        />
      </div>
    </fieldset>
    <fieldset>
      <legend>Destinos</legend>
      <div>
        <span class="material-icons">send</span
        ><input
          type="text"
          placeholder="1° Destino"
          [formControl]="$any(formGrp.controls.Destino1)"
          maxlength="100"
        />
      </div>
      <div>
        <span class="material-icons">send</span
        ><input
          type="text"
          placeholder="2° Destino"
          [formControl]="$any(formGrp.controls.Destino2)"
          maxlength="100"
        />
      </div>
      <div>
        <span class="material-icons">send</span
        ><input
          type="text"
          placeholder="3° Destino"
          [formControl]="$any(formGrp.controls.Destino3)"
          maxlength="100"
        />
      </div>
    </fieldset>
    <div class="botoesAcao">
      <button
        type="submit"
        mat-raised-button
        [disabled]="formGrp.invalid || formGrp.pending"
        (click)="prepararDados()"
      >
        Salvar alterações
      </button>
    </div>
  </form>
</div>
